
  <%- include('layout') %>
    <title><%= pageTitle %></title>
  <body>
    <div class="trips-container">
      <div class="container">
        <h1><%= trip.title %></h1>
        <ul>
          <h2>Places: <%= trip.Place %></h2>

          <h2>Atractions: <%= trip.atractions %></h2>
          <!-- <h2>Pictures: <%= trip.pictures %></h2> -->
          <h2>Date of trip: <%= trip.DateofTrip %></h2>
          <h2>Category: <%= trip.category %></h2>
          <h2><%= trip.views %> Views</h2>
          <h2><%= trip.likes %> Likes</h2>
          <h2>Author: <%= trip.authorTripId %></h2>
          <h2>Create: <%= trip.createdAt %></h2>
          <h2>Last Update: <%= trip.updatedAt %></h2>
        </ul>
      </div>
    </div>
  </body>
</html>
